<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="PRUEBAS" connectionString="Data Source=DESA2PC\FERNANDODEV;Initial Catalog=PRUEBAS;User ID=sa;Password=root"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="robot@si-microcreditos.com">
        <network enableSsl="true" defaultCredentials="false" clientDomain="www.gmail.com" host="smtp.gmail.com" port="587" userName="robot@si-microcreditos.com" password="robot1520" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
