.calendario .ajax_calendar_container {
    background-color: #ff6a00;
    border: 1px solid #000000;
}

.calendario .ajax_calendar_header {
        background-color: #ff6a00;
        margin-bottom: 4px;
}

.calendario .ajax__calendar_title,  
.calendario .ajax__calendar_next,  
.calendario .ajax__calendar_prev {  
    color: #ff6a00;   
    padding-top: 3px;  
}

.calendario .ajax__calendar_body    {  
    background-color: #5d7404;   
    border: solid 1px #ff6a00;  
}

.calendario .ajax__calendar_dayname {  
    text-align:center;   
    font-weight:bold;   
    margin-bottom: 4px;   
    margin-top: 2px;  
}  
  
.calendario .ajax__calendar_day {  
    text-align:center;  
}  
  
.calendario .ajax__calendar_hover .ajax__calendar_day,  
.calendario .ajax__calendar_hover .ajax__calendar_month,  
.calendario .ajax__calendar_hover .ajax__calendar_year,  
.calendario .ajax__calendar_active  {  
    color: #ff6a00;   
    font-weight: bold;   
    background-color: #ffffff;  
}  
  
.calendario .ajax__calendar_today   {  
    font-weight:bold;  
}  
  
.calendario .ajax__calendar_other,  
.calendario .ajax__calendar_hover .ajax__calendar_today,  
.calendario .ajax__calendar_hover .ajax__calendar_title {  
    color: #bbbbbb;  
}
